* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-columns: auto auto auto;
}

.game-container{
  width: 500px;
  height: 730px;
  position: absolute;
  left: 80px;
  display: grid;
  grid-template-rows: auto auto auto;
}

/*.start-game{
  transform: translate(230px, 300px);
  padding: 20px;

}*/
.score{
  position: absolute;
  left: 15px;
  top: 15px; 
  z-index: 100;
}

.sky {
  background-image: url('/src/assets/sky.png');
  width: 500px;
  height: 580px;
  position: absolute;
  display: grid;
  place-content: center;
}

.ground {
  background-image: url("/src/assets/1bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
  z-index: +1;
}

.bird{
  background-image: url('/src/assets/flappy-bird.png');
  position: absolute;
  width: 60px;
  height: 45px;
}
.bird-jump{
  background-image: url('/src/assets/flappy-bird.png');
  position: absolute;
  width: 60px;
  height: 45px;
  
}

.obstacle{
  background-image: url("/src/assets/flappybird-pipe.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle{
  transform: rotate(180deg);
  background-image: url('/src/assets/flappybird-pipe.png');
  width: 60px;
  height: 300px;
  position: absolute;
}
.border-left{
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
}
.border-right{
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
}
.border-top{
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: -50px;
}

@font-face {
  font-family: 'flappybird';
  src: url("/src/assets/FlappyBirdy.ttf");
}
@font-face{
  font-family: 'pixellari';
  src: url('/src/assets/PIXELLARI.TTF');
}
@font-face {
  font-family: 'pixell';
  src: url('/src/assets/PIXELS.TTF');
}

.container{
  display: grid;
  justify-items: center;
  gap: 2rem;
  z-index: +3;
  
}
.score-div{
  display: grid;
  padding: 10px;
  place-content: center;
  text-align: center;
  background-color: #ded895;
  width: 130px;
  gap: 0;
  border-radius: 25px;
  border: 4px solid #543847;
}
.score-points{
  font-size: 40px;
  font-family: 'pixellari';
}
.text{
  font-family: 'pixell';
  font-size: 60px;
  color: #fc7858;
}
.buttons-container{
  display: grid;
  gap: 2rem;
}
.button{
  font-family: 'pixellari';
  width: fit-content;
  font-size: 35px;
  color: #fcfdfb;
  padding: 5px;
  background-color: #e86101;
  border: 5px solid #fcfdfb;
  box-shadow: 0px 3px 0px 9px #533000;

}
.second-buttons-container{
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  justify-content: center;
}
.username{
  font-family: 'pixellari';
  width: fit-content;
  font-size: 35px;
  color: #fcfdfb;
  padding: 5px;
  background-color: #e86101;
  border: 5px solid #fcfdfb;
  box-shadow: 0px 3px 0px 9px #533000;
}