* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: grid;
}

.game-container{
  width: 500px;
  height: 730px;
  position: absolute;
  left: 80px;
  display: grid;
}

.start-game{
  transform: translate(230px, 300px);
  padding: 20px;

}

.sky {
  background-image: url('/src/assets/sky.png');
  width: 500px;
  height: 580px;
  position: absolute;
}

.ground {
  background-image: url("/src/assets/1bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
  z-index: +1;
}

.bird{
  background-image: url('/src/assets/flappy-bird.png');
  position: absolute;
  width: 60px;
  height: 45px;
}

.obstacle{
  background-image: url("/src/assets/flappybird-pipe.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle{
  transform: rotate(180deg);
  background-image: url('/src/assets/flappybird-pipe.png');
  width: 60px;
  height: 300px;
  position: absolute;
}
.border-left{
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
}
.border-right{
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
}
.border-top{
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: -50px;
}
